.child img{
	width: 100%;
}
.profile {
	display: flex;
}
.profile img{
	width: 20%;
}
.child {
	width: 20rem;
	border: 2px solid #ddd;
	padding: 1%;
	margin-border: 1%;
	box-shadow: 0px 8px 8px -8px #ddd;
	text-align: center;
	border-radius: 10%;
	
}
.parent img{
	width: 20%;
	align-self: center;
	

}
.parent{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media only screen and(min-wirth: 360px) and (max-wirth: 767px){
	.child{
		width: 100%

	}
}
